$mainColor:#efefef;
$primaryColor: #673AB7;
$lightPrimaryColor: #D1C4E9;
$accentColor: #7C4DFF;
$darkPrimaryColor: #512DA8;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$textColor: #FFFFFF;
$dividerColor: #BDBDBD;