@import 'scss/_variables';
@import "scss/mixin/utils";
@import 'scss/_header';
@import 'scss/_about';
@import 'scss/_portfolio';
@import 'scss/_contact';

body {
    background-color: $mainColor;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
